<p class="edit-role">edit-role works!</p>

<div class="dialog-content" id="dialog-content">
  <form [formGroup]="positionForm" class="form">

    <div class="form-row">
      <mat-form-field class="form-field">
        <mat-label>Is Management</mat-label>
        <mat-select placeholder="Is Management" formControlName="managerialPosition">
          <mat-option [value]="true">True</mat-option>
          <mat-option [value]="false">False</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field>
        <mat-label>Entry Date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="dateOfStartingWork"
          placeholder="Choose an entry date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="dialog-actions">
      <div class="btn-group" position="group" aria-label="Default button group">
        <button mat-button color="warn" (click)="close()">Cancel</button>
        <button mat-raised-button color="primary" (click)="save()">Save</button>
      </div>
    </div>

  </form>
</div>